<%if (!currentUser) { %>
<h1>Welcome to <%= appTitle %>!</h1>
<h3>
  Create an account or log in to start managing your personal image database!
</h3>
<% } else { %>

<h1>Welcome <%= currentUser.username %>!</h1>

<h2>Upload images</h2>

<form action="/profile/upload-image" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title for the image</label>
    <input type="text" class="form-control" id="title" name="title" />
  </div>
  <div class="form-group"></div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Image (must be an URL)</label>
    <input type="text" class="form-control" id="img" name="img" required />
  </div>
  <div>
    <button type="submit" class="btn btn-dark">Upload your image</button>
  </div>
</form>

<%}%>
