<h1>My profile</h1>

<h4>Username: <%= userDetails.username %></h4>
<h4>Email: <%= userDetails.email %></h4>

<a href="/profile/edit/<%= currentUser._id%>">Edit your profile info</a>

<script>
  window.onload = function () {
    if (!window.location.hash) {
      window.location = window.location + "#loaded";
      window.location.reload();
    }
  };
</script>
